/* Border */
.no-border{
    border: none!important;
}
.no-border-top{
    border-top: none!important;
}
.no-border-right{
    border-right: none!important;
}
.no-border-bottom{
    border-bottom: none!important;
}
.no-border-left{
    border-left: none!important;
}
.no-border-color{
    border-color: transparent!important;
}