
/*  */
.flex-box{
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	box-sizing: border-box;
}
.flex-box .flex-inner{
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	box-sizing: border-box;
	width: 100%;
}
.flex-title{
	width: 35%;
	flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex: 0 1 auto;
}
.flex-content{
	width: 100%;
	-webkit-box-flex: 1; /* 所有的.flex-content元素等分flex容器的主轴空间 */
	-ms-flex: 1;
	flex-shrink: 1; /* 空间不够时自动缩放 */
	-webkit-flex-shrink: 1;
	-ms-flex: 0 1 auto;
}
